.button {
  font: inherit;
  border: 1px solid #537188;
  background: #537188;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover,
.button:active {
  background: #E8A9A9;
  border-color: #E8A9A9;
}

.button:focus {
  outline: none;
}
